<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Meu site com materialize</title>

  <!-- CSS  -->
  {#  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
  {#  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}
  {#  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>#}

  {#  UTILIZANDO SOMENTE O HTML AINDA, BASTA INCLUIR /static/ #}
  <!--  <link href="/static/css/fonts_googleapis.css" rel="stylesheet">  -->
  <!--  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>  -->
  <!--  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>  -->

  {#  AQUI É INCLUINDO O GERENCIAMENTO DESSES ARQUIVOS ESTÁTICOS PELO FLASK, DEFININDO UMA URL SEGURA #}
  <link href="{{ url_for('static', filename='css/fonts_googleapis.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Cadê a Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Navbar Link 1</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Navbar Mobile Link 1</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

{% block conteudo_do_site %}
  {#  TUDO QUE ESTIVER UTILIZANDO ESSE BLOCK EM OUTRAS PÁGINAS SERÁ ADD NESTE LOCAL DO HTML  #}
{% endblock %}

<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project
          like it's our full time job. Any amount would help support and continue development on this
          project and is greatly appreciated.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
{#  AQUI ESTAVA O CÓDIGO ANTIGO EM HTML COMUM #}
{#  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>#}
{#  <script src="js/materialize.js"></script>#}
{#  <script src="js/init.js"></script>#}

{#  UTILIZANDO SOMENTE O HTML AINDA, BASTA INCLUIR /static/ #}
<!--  <script src="/static/js/materialize.js"></script> -->
<!--  <script src="/static/js/init.js"></script> -->


{#  AQUI É INCLUINDO O GERENCIAMENTO DESSES ARQUIVOS ESTÁTICOS PELO FLASK, DEFININDO UMA URL SEGURA #}
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>
</html>
