<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <img style="vertical-align: middle; height: 50px"
           src="{{ url_for('static', filename='imagens/flask.png') }}">
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a href="/">Inicial</a></li>
      <li><a href="/usuarios">Usuários</a></li>
{#      <li><a href="/noticias">Notícias</a></li>#}
      <li><a href="/acessar">Acessar</a></li>
      <li>|| Olá {{ usuario }} ||</li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/">Inicial</a></li>
      <li><a href="/usuarios">Usuários</a></li>
      <li><a href="/acessar">Acessar</a></li>
      <li>Olá {{ usuario }}</li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse">

    </a>
  </div>
</nav>